* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F1E8E8;
    margin: 0 auto;
    overflow-x: hidden;
    width: 59.9375rem;
    height: 41.0625rem;
}

.logo img {
    width: 5.375rem;
    height: 5.3125rem;
    margin-left: 5.31rem;
    flex-shrink: 0;
}

header {
    display: flex;
    align-items: center;
    background-color: #B8ADAD;
    width: 959px;
    height: 85px;
    flex-shrink: 0;
    justify-content: space-between;
    padding-right: 75px;
    margin: 9px 0 35.19px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin: 2.06px;
}

nav ul li a {
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 1rem;
    text-decoration: none;
    display: flex;
    width: 147px;
    height: 29px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #000;
}

nav ul li:nth-child(1) a {
    margin: 2.06px 32.47px 2.06px 23.22px;
}

nav ul li:nth-child(2) a {
    margin: 2.06px 18.44px 2.06px 36.81px;
}

nav ul li:nth-child(3) a {
    margin: 2.06px 4.94px 2.06px 50.25px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.landing-page {
    position: relative;
}

.imagefond {
    width: 59.9375rem;
    height: 15.375rem;
    flex-shrink: 0;
}

.rectangle {
    position: absolute;
    width: 468px;
    height: 216px;
    flex-shrink: 0;
    background: #F4F4F4;
    margin: -35px 391px 0 83px;
    z-index: 0;
}

.statue {
    width: 12.625rem;
    height: 12.5rem;
    flex-shrink: 0;
    margin: 15px auto 0 270px;
}

.bienvenuetexte {
    margin: 1.38px 450px 9.31px 0;
    z-index: 1;
    position: relative;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
}

.rectangle2 {
    width: 273px;
    height: 320px;
    flex-shrink: 0;
    background: #F4F4F4;
    margin: -130px 40px 0 646px;
    position: absolute;
}

.texteinscription {
    text-align: center;
    margin: 20px;
    position: relative;
    margin: -120px 0 0 -600px;
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 11px;
    font-style: normal;
}

h2 {
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

form label {
    color: #000;
    text-align: center;
    font-family: Reem Kufi;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    width: 87px;
    height: 25px;
    margin-bottom: 5px;
}

form input {
    border: 1px solid #000;
    background: #D9D9D9;
    margin-bottom: 10px;
}

.submit-button,
.inscription-button {
    display: flex;
    width: 101px;
    height: 24px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #000;
    color: #F1E8E8;
    text-align: center;
    font-family: Raleway;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 350px;
    margin-top: 20px;
    cursor: pointer;
}

.submit-button:hover,
.inscription-button:hover {
    border-radius: 10px;
    background: #000;
}

.images-container {
    display: flex;
    justify-content: space-around;
}

.oeuvres-section {
    width: 60.375rem;
    height: 5.75rem;
    flex-shrink: 0;
    background: #FFF;
    margin: 1.25px -0.3px 28.2px -0.2px;
}

.image-box {
    width: 16.375rem;
    height: 21.9375rem;
    flex-shrink: 0;
    border: 1px solid #1C1A1A;
    background: #FFF;
    margin: 100px 41.8px 3.31px 2.5px;
}

.image-box.oeuvre-1 {
    margin-right: 41.1px;
}

.image-box.oeuvre-2 {
    margin-left: 22.8px;
    margin-right: 20.8px;
}

.image-box.oeuvre-3 {
    margin-left: 41.8px;
    margin-right: 1.74px;
}

.image-box img {
    width: 16.375rem;
    height: 21.9375rem;
    object-fit: cover;
}

.text-oeuvres {
    text-align: center;
    margin: 33px 0 13px;
    color: #1C1A1A;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
}

.oeuvres-section p {
    text-align: center;
    margin: 0 35px 35px;
    color: #1C1A1A;
    font-family: 'Raleway', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.contact-section {
    width: 59.9375rem;
    height: 23.8125rem;
    flex-shrink: 0;
    background: #F4F4F4;
    margin: 35px -0.3px 0;
}

.contact-container {
    display: flex;
    justify-content: space-around;
}

.text-contact {
    margin: 54px 0 13px;
    text-align: center;
    color: #1C1A1A;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
}

.contact-section p {
    text-align: center;
    margin: 0 35px 35px;
    color: #1C1A1A;
    font-family: 'Raleway', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.contact-form label {
    color: #000;
    text-align: center;
    font-family: Reem Kufi;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    width: 87px;
    height: 25px;
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    border: 1px solid #000;
    background: #D9D9D9;
    margin-bottom: 10px;
}

.contact-submit-button {
    display: flex;
    width: 101px;
    height: 24px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #000;
    color: #F1E8E8;
    text-align: center;
    font-family: Raleway;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
    cursor: pointer;
}

.contact-submit-button:hover {
    border-radius: 10px;
    background: #000;
}
