* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}
body {
    background-color: #F1E8E8;
    margin: 0 auto;
    overflow-x: hidden;
    width: 59.9375rem;
height: 41.0625rem;
  
}

.logo img {
    width: 5.375rem;
    height: 5.3125rem;
    margin-left: 5.31rem;
    flex-shrink: 0;
 
}

header {
    display: flex;
    align-items: center;
    background-color: #B8ADAD;
    width: 959px;
    height: 85px;
    flex-shrink: 0;
    justify-content: space-between;
    padding-right: 75px;
    margin-top: 9px;
    margin-bottom: 35.19px; 
}


nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin: 2.06px;
}

/* Styles généraux pour les liens du menu */
nav ul li a {
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 1rem;
    font-style: normal;
    font-weight: 0;
    line-height: normal;
    text-decoration: none; 
    display: flex;
width: 147px;
height: 29px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 10px;
background: #000;

}

/* Style spécifique pour le lien "ACCUEIL" */
nav ul li:nth-child(1) a {
    margin-right: 32.47px;
    margin-left: 23.22px; 
    margin-top: 2.06px; 
    margin-bottom: 2.06px; 
}

/* Style spécifique pour le lien "OEUVRES" */
nav ul li:nth-child(2) a {
    margin-right: 18.44px;
    margin-top: 2.06px;
    margin-bottom: 2.06px; 
    margin-left: 36.81px; 

}

/* Style spécifique pour le lien "À PROPOS" */
nav ul li:nth-child(3) a {
    margin-right: 4.94px;
    margin-top: 2.06px;
    margin-bottom: 2.06px; 
    margin-left: 50.25px;  

}



.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.oeuvres-section {
    width: 60.375rem;
    height: 5.75rem;
    flex-shrink: 0;
background: #FFF;
margin-top: 1.25px;
margin-bottom: 28.2px; 
margin-left: -0.3px;
margin-right: -0.2px; 


}



.text-box {
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    margin-top: 1.63px;
    margin-bottom: 20px;
    margin-right: 17.87px;
    margin-left: 14.75px;
    line-height: 1.125rem;
}


   


.text-box p {
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 1.63px;
    margin-bottom: 10px;
    margin-right: 17.87px;
    margin-left: 14.75px;
    line-height: 1.125rem;
}

.images-container {
    display: flex;
    justify-content: space-around;
}

.oeuvres-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFF;
    margin-top: 1.25px;
    margin-bottom: 28.2px;
}

.image-box.oeuvre-4 {
    width: 16.375rem;
    height: 21.9375rem;
    flex-shrink: 0;
    border: 1px solid #1C1A1A;
    background: #FFF;
    margin-top: 100px;
    margin-left: 2.5px;
    margin-right: 41.1px;
    margin-bottom: 3.31px;
}

.image-box.oeuvre-5 {
    width: 16.375rem;
    height: 21.9375rem;
    flex-shrink: 0;
    border: 1px solid #1C1A1A;
    background: #FFF;
    margin-top: 100px;
    margin-left: 22.8px;
    margin-right: 20.8px;
    margin-bottom: 3.31px;
}

.image-box.oeuvre-6{
    width: 16.375rem;
    height: 21.9375rem;
    flex-shrink: 0;
    border: 1px solid #1C1A1A;
    background: #FFF;
    margin-left: 41.8px;
    margin-right: 1.74px;
    margin-bottom: 3.31px;
    margin-top: 100px;

}


.oeuvre-4 .text-box {
margin-bottom: 10px; 
}
.oeuvre-5 .text-box{
margin-bottom: 0px;
}

.oeuvre-6 .text-box {
 margin-bottom: 0px;
}

.image-box {
    width: 16.375rem;
    height: 21.9375rem;
    flex-shrink: 0;
    border: 1px solid #1C1A1A;
    background: #FFF;
}

.image-box img {
    width: 13.625rem;
    height: 15.1875rem;
    flex-shrink: 0;
}   

.image-box p {
    margin: 5px;
    
}
