* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F1E8E8;
    margin: 0 auto;
    overflow-x: hidden;
}

    
    /* tete de page */
    /*bande marron*/ 
    
    header.header {
    display: flex;
    align-items: center ;
    height: 400px;
    position: relative;
    display: flex;
    list-style: none;
    background-color: #B8ADAD;;
    width: 1500px;
    justify-content: space-between;
    margin-top: 70px;
    padding-right: 75px;
     width: 100%;
    
    }
    /*bande marron*/ 
    
    /*lettre blaches navigation*/
    nav.nav{
        display: flex;
        list-style: none;
        background-color:;
        width: 3000px;
        margin-left: 2100px;
        margin-top: 0px;
        justify-content: space-between;
        
    }
    /*lettre blaches navigation*/
    
   /* Logo */
header.header img {
    width: 400px;
    margin-left:  500px;
    position:fixed
}

    /*logo*/
    
    /*menu de navigation*/
    nav.nav li{
        color: white;
        font-size: 80px;
        font-family: 'Raleway', sans-serif;
        border-radius: 10px; /* A AJOUTER Bordure arrondie */
    }
    
    /*menu de navigation*/
    
    /*page de bienvenue (landing page) */
    
    
   /* Image de fond */
img.imagefond{
    width: 100%; /* Utilise la largeur complète du conteneur parent */
    padding-top: 70px;
    
}
    /*image fond*/

        .rectangle{
            width: 600px; /* Largeur du rectangle */
            height: 900px; /* Hauteur du rectangle */
            padding-left: 3000px;
            margin-left: 300px;
            
        background-color: white;
        position:relative;
        bottom: 170px;
    }
   
 /* Statue */
img.statue {
    width: 800px;
    position: relative;
   
    margin-left: -800px; /* Ajuster selon vos besoins */
}

 /*texte bienvenue*/
 .bienvenuetexte{
    color:black;
    font-size: 80px;
    margin-bottom: 90px;
    margin-left: 500px;
    margin-top: -900px;
    position: relative;
   }
    /*texte bienvenue*/
